# Interface configuration file for SimLink - 2017
#
# This is the configuration file for the SimLink Interface program
# used in conjunction with the OpenPLC and the Simulink application.
# In order to send and receive data between the Simulink and the
# OpenPLC stations, SimLink needs to know the IP address for the
# machine running the Simulink application and also information
# about the exported variables for each OpenPLC station.
#
# To add variables to one station, type the name of the station
# followed by the command "add" plus the type of variable you
# want to be added. The number after the "=" sign is the UDP
# port used by the simulink UDP connection to send or receive
# the variable. Ex: station0.add(digital_out) = "10001"
#
# The variables added to the station will be connected to the
# OpenPLC buffer in the order they appear. Therefore, the first
# digital_out will be connected to OpenPLC %QX0.0 (coils buffer
# at position 0.0). The second digital_out will be %QX0.1 and so on...
#
# Different types of variables (digital_out, analog_in) are
# connected to different buffers. Therefore if after the two
# digital_out's mentioned above there is a analog_in, it will
# be connected to %IW0 (analog input buffer position 0)

num_stations = "1"
comm_delay = "100"

# ------------
#   SIMULINK
# ------------
simulink.ip = "localhost"

# ------------
#  STATION 0
# ------------
station0.ip = "localhost"

station0.add(digital_in) = "10000"

station0.add(digital_out) = "26691"
station0.add(digital_out) = "26692"
station0.add(digital_out) = "26693"
station0.add(digital_out) = "23391"
station0.add(digital_out) = "23392"
station0.add(digital_out) = "22291"
station0.add(digital_out) = "22292"
station0.add(digital_out) = "22293"
station0.add(digital_out) = "21191"
station0.add(digital_out) = "21192"
station0.add(digital_out) = "21193"
station0.add(digital_out) = "21194"

# current from 16 sensors #
station0.add(analog_in) = "16611"
station0.add(analog_in) = "16612"
station0.add(analog_in) = "16613"
station0.add(analog_in) = "15511"
station0.add(analog_in) = "15512"
station0.add(analog_in) = "14411"
station0.add(analog_in) = "14412"
station0.add(analog_in) = "13311"
station0.add(analog_in) = "13312"
station0.add(analog_in) = "12211"
station0.add(analog_in) = "12212"
station0.add(analog_in) = "12213"
station0.add(analog_in) = "11111"
station0.add(analog_in) = "11112"
station0.add(analog_in) = "11113"
station0.add(analog_in) = "11114"

# current from 10 faults #
station0.add(analog_in) = "16641"
station0.add(analog_in) = "16642"
station0.add(analog_in) = "13341"
station0.add(analog_in) = "13342"
station0.add(analog_in) = "12241"
station0.add(analog_in) = "12242"
station0.add(analog_in) = "11141"
station0.add(analog_in) = "11142"
station0.add(analog_in) = "11143"
station0.add(analog_in) = "11144"


# voltage from 16 sensors #
# station0.add(analog_in) = "16601"
# station0.add(analog_in) = "16602"
# station0.add(analog_in) = "16603"
# station0.add(analog_in) = "15501"
# station0.add(analog_in) = "15502"
# station0.add(analog_in) = "14401"
# station0.add(analog_in) = "14402"
# station0.add(analog_in) = "13301"
# station0.add(analog_in) = "13302"
# station0.add(analog_in) = "12201"
# station0.add(analog_in) = "12202"
# station0.add(analog_in) = "12203"
# station0.add(analog_in) = "11101"
# station0.add(analog_in) = "11102"
# station0.add(analog_in) = "11103"
# station0.add(analog_in) = "11104"

# voltage from 10 faults #
# station0.add(analog_in) = "16631"
# station0.add(analog_in) = "16632"
# station0.add(analog_in) = "13331"
# station0.add(analog_in) = "13332"
# station0.add(analog_in) = "12231"
# station0.add(analog_in) = "12232"
# station0.add(analog_in) = "11131"
# station0.add(analog_in) = "11132"
# station0.add(analog_in) = "11133"
# station0.add(analog_in) = "11134"
